
.toggle-button {
    width: 50%;
    height: 50%;
    font-size: 5rem;
    background-color: rgb(32, 213, 0);
    cursor: pointer;
}
.toggle-button-on { 
  width: 50%;
  height: 50%;
  font-size: 5rem;
  background-color: rgb(255, 0, 0);
  cursor: pointer;
}