
.toggle-button {
    width: 22vh;
    height: 16vh;
    font-size: 5vh;
    background-color: rgb(32, 213, 0);
    cursor: pointer;
}
.toggle-button-on { 
    width: 22vh;
    height: 16vh;
    font-size: 5vh;
    background-color: rgb(255, 0, 0);
    cursor: pointer;
}